<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    

    <title>Document</title>
</head>
<body>
    <h2 style="color:#5555f7; text-transform: uppercase; font-size: large;" > réinitialisation de votre mot de passe </h2>

    <img src="https://raw.githubusercontent.com/aviateur22/picture_lesson/main/logo.PNG" alt="image avec un pouce et un text">

    <p style="color: black; text-align: center;" >Cliquer <a style="font-weight:bold ; font-size: larger; text-transform: uppercase;" href=":xxxx">ICI</a> pour réinitialiser votre mot de passe</p>


</body>
</html>